<div id="<%= dom_id comment %>">

  <p class="text-sm">
    <strong>Usuário:</strong>
    <% if comment.anonymous? ||comment.user.name.nil? %>
       Anônimo
    <% else %>
      <%= comment.user.name %>
      <% end %>
  </p>
  <p class="text-base">
    <%= comment.content %>
  </p>



</div>
